<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span>Order</span> {{ order.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{ order.productName }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ order.quantity }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ order.price }}</span>
                </dd>
                <dt><span>Buyer Name</span></dt>
                <dd>
                    <span>{{ order.buyerName }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ order.date }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
