<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span>Invoice</span> {{ invoice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Enterprise</span></dt>
                <dd>
                    <span>{{ invoice.enterprise }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ invoice.price }}</span>
                </dd>
                <dt><span>Vat</span></dt>
                <dd>
                    <span>{{ invoice.vat }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ invoice.date }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
